{% load cms_tags sekizai_tags %}
<html>
    <head>
        <title>{% page_attribute "page_title" %}</title>
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        {% load menu_tags %}
        <ul>
            {% show_menu 0 100 100 100 %}
        </ul>

        {% block content %}
            {% placeholder "feature" %}
            {% placeholder "content" %}
            {% placeholder "splashbox" %}
        {% endblock content %}


         <footer>
             {% static_placeholder 'footer' %}
         </footer>

        {% render_block "js" %}
    </body>
</html>